.div1, .div2, .div3 {
    height: 300px;
}
.footer {

}
.header {
    height: 300px;
}
.h1{
    font-family: sans-serif;
}
.submit-margin {
    margin-top: 50px; /* Adjust the value as needed */
}